[submodule "0 Spring 2024/0 CSC 305 A02 B0"]
	path = 0 Spring 2024/0 CSC 305 A02 B0
	url = https://github.com/arfazhxss/CSC305.git
[submodule "0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/frozen-jabref"]
	path = 0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/frozen-jabref
	url = https://github.com/arfazhxss/frozen-jabref.git
[submodule "0 Spring 2024/0 CSC 305 A02 B0"]
	path = 0 Spring 2024/0 CSC 305 A02 B0
	url = https://github.com/arfazhxss/CSC305.git
[submodule "0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/frozen-jabref"]
	path = 0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/frozen-jabref
	url = https://github.com/arfazhxss/frozen-jabref
[submodule "0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/jabref"]
	path = 0 Spring 2024/4 SENG 371 A02 B03/2 Assignments/jabref
	url = https://github.com/jabref/jabref
[submodule "2 Fall 2024/2 SENG 350 A02 B03/2 Labs"]
	path = 2 Fall 2024/2 SENG 350 A02 B03/2 Labs
	url = https://github.com/seng-350-2024-fall/team-13/
[submodule "2 Fall 2024/0 ECE 355 A01 B/2 Repository"]
	path = 2 Fall 2024/0 ECE 355 A01 B/2 Repository
	url = https://github.com/arfazhxss/embedded-microprocessor-programming
[submodule "2 Fall 2024/0 ECE 355 A01 B/1 Lab"]
	path = 2 Fall 2024/0 ECE 355 A01 B/1 Lab
	url = https://github.com/arfazhxss/control-monitor-system.git
